<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnaMapper">  
  <select id="selectQnaList">
      SELECT 
        swt_code
        , swt_toolname
        , swt_function
        , swt_imagepath
        , swt_big_imgpath
        , swt_comments
        , swt_demo_site
        , swt_manual_path
        , swt_github_url
        , reg_date
      FROM react.react_swtool
      <if test="is_Swtcode != null && is_Swtcode != ''">
        WHERE swt_code = #{is_Swtcode}
      </if>
      ORDER BY update_date DESC
  </select>

  <insert id="insertQnaInfo"> 
    INSERT INTO suseok.qna_contents
    (
        qna_name
        , qna_hp
        , qna_content
        , qna_registdt
    )
    VALUES (
      #{qna_name}
      , #{qna_hp}
      , #{qna_content}
      , DATE_FORMAT(now(), '%Y%m%d%H%i%s')
    )
  </insert>
</mapper>
